<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.product.mapper.ProductMapper">

    <!-- 모든 제품 조회 -->
    <select id="findAllProducts" resultType="com.example.demo.product.entity.Product">
        SELECT * FROM tbl_product
    </select>

    <!-- 특정 카테고리의 제품 조회 -->
    <select id="findProductsByCategoryId" resultType="com.example.demo.product.entity.Product">
        SELECT id, name, description, price, category_id FROM product
        WHERE category_id = #{categoryId}
    </select>

    <!-- 모든 카테고리 조회 -->
    <select id="findCategories" resultType="com.example.demo.product.entity.Category">
        SELECT id, name FROM category
    </select>

    <!-- 제품 삽입 -->
    <insert id="insertProduct" parameterType="com.example.demo.product.entity.Product">
        INSERT INTO tbl_product (prod_id, prod_code, prod_name, prod_origin_price, prod_saleprice, prod_category, prod_category_detail, prod_desc, prod_main_img_path, prod_date, prod_edit_date, prod_quantity, prod_sales_dist)
        VALUES (#{prod_id}, #{prod_code}, #{prod_name}, #{prod_origin_price}, #{prod_saleprice}, #{prod_category}, #{prod_category_detail}, #{prod_desc}, #{prod_main_img_path}, #{prod_date}, #{prod_edit_date}, #{prod_quantity}, #{prod_sales_dist})
    </insert>

</mapper>
